<!-- <form #totalForm="ngForm">
    <div>
        <input type="text" name="name" placeholder="enter your name" #userInfo="ngModel" [(ngModel)]="userName" required>
        <small *ngIf="userInfo.control.touched && userInfo.control.errors?.required">This is required field</small>
    </div>
    <div>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="userEmail">
    </div>
    <div>
        <input type="radio" value="male" name="gender" #gender="ngModel" [(ngModel)]="userGender">male
        <input type="radio" value="female" name="gender"  [(ngModel)]="userGender">female
    </div>
    <div>
        <button (click)="showData(totalForm)">click</button>
    </div>
</form> -->
<div>
    for just committing the code...
</div>
<div>
    helooo....
</div>